/*
    MAIN STYLES
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'IM Fell English SC', serif;
    background: #fafafa;
    //background: url("./assets/images/The_Ruins_of_Holyrood_Chapel_1824.jpg");
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell English SC', serif;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a.anchor {
  display: block;
  position: relative;
  top: -10px;
  visibility: hidden;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


section {
	padding: 60px 0;
	position: relative;
        width: 100%;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    background: #203042;
    color: #fff;
    color: yellow;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    background: #38526F;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    color: #203042;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
    background: #38526F;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
    color: #38526F;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebarCollapse {

    background: #38526F;
    position: fixed;
    top: 60px;
    left: 0px;
    z-index: 100;
    transition: all 0.3s;
}

#sidebarCollapse.active {
    top: 60px;
    left: 250px;
}
/*
.btn:after {
  font-family: 'FontAwesome';
  content: '\f100';
}

.btn.after {
  font-family: 'FontAwesome';
  content: '\f101';
}
*/


#myLogo {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-size: 48px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */




#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.bg {
  //background-image: url("./assets/images/The_Ruins_of_Holyrood_Chapel_1824.jpg");
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* ---------------------------------------------------
    ABOUT SECTION
----------------------------------------------------- */

.aboutSection {
  padding: 20px;
  position: relative;

}

img {
  max-width: 100%;
  max-height: 100%;
}

.portrait {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* ---------------------------------------------------
    PORTFOLIO SECTION
----------------------------------------------------- */

.card {
	/*width: auto;*/
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card:hover {
	box-shadow: 10px 10px 5px gray, -1px 0px 10px gray;

}

.card a {
  background: #203042;
  color: #fff;
}

.card a:hover {
color: yellow;
}

.card-text {
  font-size: 1.1em;
}

/* ---------------------------------------------------
    CONTACT SETION
----------------------------------------------------- */

.form-control {
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
        border: 0;
	border-bottom: 1px solid #ced4da;
	border-radius: 0rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.contact-form {
	margin-bottom: 40px;
}

.submit-btn {
  background: #203042;
  color: #fff;
}

.submit-btn:hover {
  background: #fff;
  color: #203042;
  box-shadow: 5px 5px 2px gray, -1px 0px 5px gray;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
/*
    #content.active {
        width: calc(100% - 250px);
    }
*/
    #sidebar {
        display: none;
    }
    #sidebarCollapse  {
        display: none;
    }
}
